<% if user_signed_in? %>
	<h5>Discover #</h5>
<% else %>
<div class="hero-unit">
	<h1>Bookmark & share your favorite products from all over the web.</h1>
	<p>
		You have found the page for 

		<%= link_to "Sal's", "http://salmatteis.com"  %>

		 first experimental app. 

	</p>

	<p>
		<%= link_to "Sign up Now", new_user_registration_path, class: "btn btn-primary btn-large" %>
	</p>
	</div>
	<%end %>