<div class="hero-unit">
	<h1>Welcome to Sal's First App!</h1>
	<p>
		You have found the page for 

		<%= link_to "Sal's", "http://salmatteis.com"  %>

		 first experimental app. 

	</p>

	<p>
		<%= link_to "Sign up Now", "#", class: "btn btn-primary btn-large" %>
	</p>
</div>